.GPPEC_formGeneratePost {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.GPPEC_formGeneratePost input[type="text"],
.GPPEC_formGeneratePost select,
.GPPEC_formGeneratePost button {
  height: 31px;
}

#GPPEC_responde:not(.active) {
  display: none;
}
#GPPEC_responde.load:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: white;
  z-index: 9999999999;
  opacity: 0.3;
  cursor: progress;
}
#GPPEC_progress {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}
#GPPEC_progress_bar {
  margin-bottom: 30px;
  width: min(100%, 500px);
  height: 30px;
}
#GPPEC_table {
  border-collapse: collapse;
}
#GPPEC_table tr.ok {
  background: #0d820a;
  color: white;
}
#GPPEC_table tr.error {
  background: #d82525;
  color: white;
}
#GPPEC_table th {
  font-size: 16px;
}
#GPPEC_table td {
  font-size: 14px;
}
#GPPEC_table th,
#GPPEC_table td {
  border: 2px solid #1d2327;
  padding: 10px 20px;
}
